#list {
  background-color: lightgray;
}

.pressable {
  cursor: pointer;
}

/* 
Put in a lot of thingies here
{
  margin-right: 2px;
} */

.flagButton {
  width:45px;
}

.unitSpan {
  display: inline-block;
  text-align: right;
  width: 90px;
}

.oolReferenceData {
  display: inline-block;
  text-align: right;
  width: 40px;
}

.spLIDSymbols {
  display: inline-block;
  text-align: right;
  width: 35px;
}