/* To do:  Add comments re: what files CSS applies to; some webpages may be heavily edited and/or written out, and don't want legacy CSS clutter. */
/* Research media more thoroughly; 800 px placeholder for phone screens dark mode*/
@media (max-width: 800px) {
  body {
    color: white;
    background-color: black;
    font-family: "georgia";
  }

  #list {
    background-color: darkslategray;
  }
}

@media (min-width: 801px) {
  #list {
    background-color: lightgray;
  }
}

#aOutput {
  font-size: 400%;
  overflow-wrap: anywhere;
  width: 800px;
  text-align: center;
}

.hit {
  color: red
}

.miss {
  color: green
}

header {
  color: darkgray;
}

header:hover {
  color: red;
}

a:visited {
  color: green;
}

#wipe {
  color: white;
  background-color: red;
  font-size: large;
}

.pressable {
  cursor: pointer;
}

/* 
Remember formatting may need to be changed for
{
  margin-right: 2px;
} 
Remember cross-browser compatability.
*/

/* minify your CSS here: https://csscompressor.net/ */

/****** header ******/

.flagButton {
  width: 45px;
}

.unitSpan {
  display: inline-block;
  text-align: right;
  width: 90px;
}

.oolReferenceData {
  display: inline-block;
  text-align: right;
  width: 40px;
}

.spLIDSymbols {
  display: inline-block;
  text-align: right;
  width: 35px;
}

#cssgrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  gap: 5px;
}

#column1, #column2, #column3 {
  border-radius: 5px;
  padding: 10px;
  background-color: wheat;
  border: 2px solid blue;
}
